<!DOCTYPE html>
<html ng-app="app">

  <head>
    <meta charset="utf-8" />
    <title>Ex Libris Labyrinth</title>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.5.x" src="https://code.angularjs.org/1.5.8/angular.js" data-semver="1.5.8"></script>
    <script src="app.js"></script>
  </head>
  <body>
<div id="wrapper" ng-controller="Ctrl" ng-click="move($event)">
  <div id="gomb" ng-repeat="division in divisions | orderBy:['group','sub']">
    <div class="cell" ng-repeat="cell in cells | filter: match(division.group, division.sub)" style="background:{{ cell.color }}; background-size: cover; background-position: center center;">
    {{cell.id}}
    </div>
  </div>
  </div>
  </body>
</html>
